/* Media query for mobile devices  */
@media only screen and (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
  }

  .hamburger-line {
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: transform 0.3s ease;
  }

  .hamburger-menu.open .hamburger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.open .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.open .hamburger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu-items {
    position: fixed;
    margin-left: -20px;
    top: 50px;
    left: 20px;
    width: 100% !important;
    height: 70%;
    background-color: rgb(255, 255, 255) !important;
    list-style-type: none;
    padding: 10px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .menu-items.open {
    transform: scaleX(1);
  }

  .ham-menu-list-mob-a {
    list-style: none !important;
    font-family: var(--main-font) !important;
    text-decoration: none !important;
    color: var(--header-font-color) !important;
  }

  .ham-menu-list-li {
    padding-top: 15px;
  }

  .social-media-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 0px;
    margin-top: 30px;
  }

  .mobile-box {
    display: none !important;
  }

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .ham-menu-list-li {
    font-size: 20px;
  }

  .profile-image-area {
    margin-top: 5px !important;
  }

  .profile-text-area {
    font-family: var(--main-font);
    margin-top: 40px !important;
    margin-left: 0px !important;
    font-size: 44px !important;
    font-weight: bold;
    background: linear-gradient(180deg, #e70faa 0%, #00c0fd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 40px !important;
  }

  .special-case-one {
    line-height: 57px;
  }

  .hand-image {
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 5px !important;
    margin-left: 10px;
  }

  .tech-stack-headings {
    font-family: var(--main-font);
    text-align: center;
    margin-top: 100px !important;
  }

  .tech-stack-headings h1 {
    color: rgba(66, 68, 110, 1);
    font-weight: bold;
    font-size: 45px !important;
  }

  .tech-items-box-one {
    margin-top: 40px !important;
  }

  .tech-items-box-two {
    margin-top: 40px !important;
  }

  .tech-items-box-one img {
    height: 80px !important;
    width: 80px !important;
  }

  .tech-items-box-two img {
    height: 80px !important;
    width: 80px !important;
  }

  .tech-items-list-one {
    margin-top: 40px !important;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px !important;
    padding-left: 0px;
  }

  .tech-items-list-two {
    margin-top: 40px !important;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px !important;
    padding-left: 0px;
  }

  .project-title-box {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 60px !important;
  }

  .row-projects-desktop {
    display: none !important;
  }

  .row-projects-mobile {
    display: inline !important;
  }

  .all-carousel {
    border-radius: 25px;
  }

  .carousel-inner {
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-color: white !important;
  }

  .card-link-two {
    font-size: 14px !important;
    color: #000000;
    margin-left: 110px !important;
  }

  .carousel.slide {
    border-radius: 25px;
  }

  .card-dec {
    padding-right: 4px;
  }

  .see-all-proj {
    color: #000000;
    margin-top: 80px !important;
    font-size: 20px !important;
    text-align: center;
  }

  .questions-box {
    margin-top: 150px !important;
    text-align: center;
  }

  .questions-box h1 {
    font-family: var(--main-font);
    color: var(--colors-heading, #1e0e62);
    text-align: center;
    font-size: 40px !important;
    font-weight: 700;
    line-height: 30px !important;
    letter-spacing: -1px;
  }

  .mail-image {
    width: 85%;
  }

  .line-image {
    margin-top: 200px;
    margin-bottom: 20px;
    height: 30px !important;
    width: 300px;
  }

  .col-footer-two {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footer-menu {
    margin-right: 50px;
  }

  #footer-social-media {
    margin-right: 20px;
  }

  .name-box {
    margin-right: 75px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .row-projects-mobile {
    display: none !important;
  }
}



@media screen and (max-width: 1688px) {
  /* Styles for laptops with screen width less than 1688px go here */
  .flex-box-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 500px !important;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1538px) {
  /* Styles for screen sizes less than 1538px width go here */
  .flex-box-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 450px !important;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1409px) {
  /* Styles for screen sizes less than 1538px width go here */
  .flex-box-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 420px !important;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1341px) {
  /* Styles for screen sizes less than 1538px width go here */
  .flex-box-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 400px !important;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1302px) {
  /* Styles for screen sizes less than 1538px width go here */
  .flex-box-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 380px !important;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1257px) {
  /* Styles for screen sizes less than 1538px width go here */
  .flex-box-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 360px !important;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1204px) {
  /* Styles for screen sizes less than 1538px width go here */
  .flex-box-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 340px !important;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1062px) {
  /* Styles for screen sizes less than 1538px width go here */
  .flex-box-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 260px !important;
    margin-top: 30px;
  }
}

:root {
  --header-font-color: #676667;
  --main-font: "Inter", sans-serif;
}

.row-one {
  align-items: center;
}

.row-three {
  display: flex;
  flex-direction: row-reverse;
}

.row-six {
  display: flex;
  flex-direction: row-reverse;
}

.col-three {
  order: 2;
}

.col-four {
  text-align: center;
  order: 1;
}

.col-seven {
  order: 2;
}

.col-eight {
  order: 1;
}

.profile-image-area {
  margin-top: 90px;
}

.profile-text-area {
  font-family: var(--main-font);
  margin-top: 170px;
  margin-left: 120px;
  font-size: 59px;
  font-weight: bold;
  background: linear-gradient(180deg, #e70faa 0%, #00c0fd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 68px;
}

.hand-image {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.mobile-box {
  display: contents;
}

.flex-box-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 580px;
  margin-top: 30px;
}

.nav-bar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: 20px;
}

.nav-bar-list-dark {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: 20px;
}

.nav-bar-list a {
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--header-font-color);
  position: relative;
}

.nav-bar-list-dark a {
  font-family: var(--main-font);
  text-decoration: none;
  color: white;
  position: relative;
}

.nav-bar-list a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.nav-bar-list a:hover::after {
  transform: scaleX(1);
}

.nav-bar-list-dark a:hover::after {
  transform: scaleX(1);
}

.social-media-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #24272c;
  transition: 0.4s;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-image: url("https://i.imgur.com/YGys7Qx.png");
  background-size: cover;
  transition: 0.4s;
}

.toggle-switch input:checked + .slider {
  background-color: #e9eaf0;
}

.toggle-switch input:checked + .slider:before {
  background-image: url("https://i.imgur.com/jbNeS6K.png");
  transform: translateX(26px);
}

.toggle-switch .slider.round {
  border-radius: 34px;
}

.toggle-switch .slider.round:before {
  border-radius: 50%;
}

.hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: transform 0.3s ease;
}

.hamburger-menu.open .hamburger-line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .hamburger-line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.menu-items {
  position: fixed;
  top: 50px;
  left: 20px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.89);
  list-style-type: none;
  padding: 10px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-items.open {
  transform: scaleX(1);
  height: 100vh;
}

.tech-stack-headings {
  font-family: var(--main-font);
  text-align: center;
  margin-top: 250px;
}

.tech-stack-headings h1 {
  color: rgba(66, 68, 110, 1);
  font-weight: bold;
  font-size: 55px;
}

.tech-stack-headings h2 {
  color: #666666;
  font-size: 20px;
}

.tech-items-box-one {
  margin-top: 60px;
}

.tech-items-box-two {
  margin-top: 60px;
}

.tech-items-box-one img {
  height: 120px;
  width: 120px;
}

.tech-items-box-two img {
  height: 120px;
  width: 120px;
}

.tech-items-list-one {
  margin-top: 100px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.tech-items-list-two {
  margin-top: 100px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.project-section-container-desktop {
  text-align: center;
  margin-top: 150px;
}

.project-title-box {
  font-family: var(--main-font);
  margin-bottom: 100px;
}

.project-title-box h2 {
  color: rgba(66, 68, 110, 1);
  font-weight: bold;
  font-size: 55px;
}

.project-title-box h3 {
  color: #666666;
  font-size: 20px;
}

.card-links-flex-box {
  display: flex;
  flex-direction: row;
}

.row-projects-list-two {
  margin-top: 60px !important;
}

.col-card-hold {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card {
  font-family: var(--main-font);
  border-radius: 25px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-color: white !important;
}

.project-card-image {
  border-top-right-radius: 25px !important;
  border-top-left-radius: 25px !important;
}

.card-title {
  font-size: 30px !important;
}

.card-dec {
  text-align: left;
  font-size: 16px !important;
  color: #666666;
  font-style: normal !important;
  font-weight: lighter;
}

.card-teach-stack {
  text-align: left;
  color: #42446e;
  font-size: 14px !important;
}

.card-link-one {
  font-size: 14px !important;
  color: #000000;
  margin-left: 5px;
}

.card-link-two {
  font-size: 14px !important;
  color: #000000;
  margin-left: 135px;
}

.see-all-proj {
  color: #000000;
  margin-top: 80px !important;
  font-size: 25px;
  text-align: center;
}

.questions-box {
  margin-top: 250px;
  text-align: center;
}

.questions-box h1 {
  font-family: var(--main-font);
  color: var(--colors-heading, #1e0e62);
  text-align: center;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.mail-image {
  margin-top: 30px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.mail-image.animate {
  opacity: 1;
  -webkit-animation: text-focus-in 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    0.7s both;
  animation: text-focus-in 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.7s both;
}

.line-image {
  margin-top: 200px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
}

#footer-menu {
  margin-left: 8px;
}

#footer-menu > ul {
  font-family: var(--main-font);
  font-size: 15px;
}

.name-text {
  font-family: var(--main-font);
  font-size: 15px;
  margin-right: 40px;
}

#footer-social-media > ul > li > a > img {
  height: 25px;
  width: 25px;
}

.col-footer-three {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-footer-four {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.row-projects-carousel .carousel-indicators {
  display: none;
}


