/* Media query for mobile devices  */
@media only screen and (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
  }

  .hamburger-line {
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: transform 0.3s ease;
  }

  .hamburger-menu.open .hamburger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.open .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.open .hamburger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu-items {
    position: fixed;
    /* border-right: 0.5px solid #000000; */
    margin-left: -20px;
    top: 50px;
    left: 20px;
    width: 100% !important;
    background-color:rgb(238, 238, 238) !important;
    list-style-type: none;
    padding: 10px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .menu-items.open {
    transform: scaleX(1);
  }

  .ham-menu-list-mob-a {
    list-style: none !important;
    font-family: "Inter", sans-serif !important;
    text-decoration: none !important;
    color: var(--header-font-color) !important;
  }

  .ham-menu-list-li{
    padding-top: 7px;
  }

  .social-media-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 0px;
    margin-top: 20px;
  }
  
  .mobile-box {
    display: none !important;
  }

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

:root {
  --header-font-color: #676667;
}

.row-one {
  align-items: center;
}

.mobile-box {
  display: contents;
}

.flex-box-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 600px;
  margin-top: 30px;
}

.nav-bar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-bar-list a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: var(--header-font-color);
  position: relative;
}

.nav-bar-list a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.nav-bar-list a:hover::after {
  transform: scaleX(1);
}


.social-media-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #24272c;
  transition: 0.4s;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-image: url("https://i.imgur.com/YGys7Qx.png");
  background-size: cover;
  transition: 0.4s;
}

.toggle-switch input:checked + .slider {
  background-color: #e9eaf0;
}

.toggle-switch input:checked + .slider:before {
  background-image: url("https://i.imgur.com/jbNeS6K.png");
  transform: translateX(26px);
}

.toggle-switch .slider.round {
  border-radius: 34px;
}

.toggle-switch .slider.round:before {
  border-radius: 50%;
}

.hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: transform 0.3s ease;
}

.hamburger-menu.open .hamburger-line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .hamburger-line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.menu-items {
  position: fixed;
  top: 50px;
  left: 20px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.89);
  list-style-type: none;
  padding: 10px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-items.open {
  transform: scaleX(1);
}
